@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.header-section {
  width: 100%;
  margin: 0 auto;
}

.header-part {
  width: 100%;
  position: absolute;
  top: 18px;
} 

.header-logo h1{
  width: 10%;
  position: absolute;
  margin-left: 10%;
}

.header-logo img {
  text-indent: -999px;
} 

.header-text {
  float: right;
  display: flex;
  margin-right: 10%;

}

.header-text li {
  flex-basis: 250px;
  text-transform: capitalize;
}

.header-text a {
  color: #fff;
}

.header-li-1 {
  font-style: italic; 
}

.header-li-1::after {
  content: " ";
  width: 1em;
  display: inline-block;
}

.header-li-2::before{
  content: "\2022";
  color: #CEEF27;
  display: inline-block;
  width: 1em;
}

.header-li-2::after {
  content: " ";
  border-right: 1px solid #fff;
  margin-left: 10px;
}

.header-slogan {
  text-transform: uppercase;
  color: #fff;
  margin-left: 10px;
}

.header-slogan span {
  display: block;
  font-size: large;
}

.slogan-text {
  color: #CEEF27;
}



/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner-section {
  position: relative;
}

.banner-section .wrapper {
  width: 100%;
  max-width: 100%;
}

.banner-text {
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 30px;
  left: 28%;
}

.banner-section p {
  color: #787878;
  position: absolute;
  font-size: 20px;
  top: 85px;
  left: 23%;
}

.banner-text span {
  color: #CEEF27;
}

.banner-ul {
  position: absolute;
  top: 160px;
  display: flex;
  margin: 0 13%;
  flex-wrap: wrap;
}

.banner-ul li {
  flex-basis: 32%;
  border: 1px solid #787878;
  z-index: 3;
}

.work-part .wrapper {
  width: 100%;
  max-width: 100%;
}

.work-part .wrapper {
  position: relative;
}

.work-section {
  position: absolute;
  top: 80px;
  left: 40%;
  text-transform: uppercase;
  font-size: 35px;
  color: #fff;
  font-weight: bold;
}

.work-section span {
  color: #CEEF27;
}

.work-part ul {
  width: 100%;
  display: flex;
  position: absolute;
}

.work-part li {
  width: 56%;
  flex-basis: 100%;
}

.work-li-1 {
  position: absolute;

}

.work-li-2 {
  position: absolute;
  right: 0;
}

.work-li-1 p {
  position: absolute;
  top: 40px;
  right: 6%;
}

.work-li-1 span , .work-li-2 span {
  display: block;
  text-align: center;
}

.work-li-2 p {
  position: absolute;
  bottom: 50px;
  left: 10%;
}


.section-text::first-letter {
  text-transform: capitalize;
}

.section-text {
  font-size: 20px;
  color: #fff;
}

.section-text span {
  text-transform: capitalize;
  color: #CEEF27;
}



/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width:1024px) {
  .header-text {
    display: none;
  }

  .banner-section {
    position: relative;
  }

  .banner-text {
    font-size: 30px;
    position: absolute;
    left: 20%;
  }

  .banner-section p {
    font-size: 15px;
    position: absolute;
    left: 15%;
    
  }

 

}

@media only screen and (max-width:768px){

  .banner-section {
    height: 1757px;
  }

  .banner-ul {
    display: flex;
  }

  .banner-ul li {
    flex-basis: 100%;
    align-items: center;

  }

  .work-section {
    position: absolute;
    font-size: 25px;
    left: 30%;
  }



}  